.road {
    width: 50vw;
    height: 100vh;
    background: black;
    margin-left: 25%;
}

h1 {
    color: white;
    text-align: center;
}

body {
    background-color: orange;
}

.line {
    height: 90%;
    width: 0.5%;
    background: linear-gradient(black, white, black, white, black, white, black, white, black, white, black, white, black, white, black, white, black, white, black, white, black, white, black, white);
    position: absolute;
    left: 50%;
    animation: line linear infinite 4s;
}

.car {
    height: 150px;
    width: 50px;
    position: absolute;
    bottom: 0%;
    left: 17vw;
    animation: cart linear infinite 3s;
}

.cr {
    height: 120px;
    width: 90px;
    position: absolute;
    bottom: 0%;
    right: 90px;
    animation: lie linear infinite 0.9s;
}

.ca {
    height: 100px;
    width: 50px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    animation: lne linear infinite 1s;
}

@keyframes line {
    100% {
        margin-top: 20%;
    }
}



@keyframes cart {
    100% {
        transform: translatey(-800px);
    }
}

@keyframes lie {
    100% {
        transform: translatey(-800px);
    }
}


@keyframes lne {
    100% {
        transform: translatey(-800px);
    }
}